input:-ms-input-placeholder, input:-webkit-input-placeholder, input:-moz-input-placeholder { color: silver; }
input[type="text"]:disabled, input[type="password"]:disabled, select:disabled { background-color: #F0F0F0; cursor: not-allowed; color: silver; }
button { outline: 0; }

.hidden { display: none; }

.badge { font-size: 9px; padding: 0 6px; border-radius: 4px; background-color: #F0F0F0; line-height: 12px; vertical-align: middle; margin-top: -2px; position: relative; display: inline-block; }
.badge-blue { background-color: #4CC1E9; color: white; }
.badge-red { background-color: #DA4453; color: white; }
.badge-green { background-color: #8CC152; color: white; }
.badge-yellow { background-color: #EFDC05; color: white; }
.badge-orange { background-color: #E9573F; color: white; }
.badge-gray { background-color: #606060; color: white; }
.badge-purple { background-color: #967ADC; color: white; }
.badge-pink { background-color: #D770AD; color: white; }
.badge-silver { background-color: #E0E0E0; color: gray; }

.ui-form-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow-y: scroll; transform-style: preserve-3d; }
.ui-form-container-padding { padding: 0 30px;}
.ui-form { background-color: white; margin: 0 auto 30px; border-radius: 4px; box-shadow: 0 0 20px #D0D0D0; transform: translate(0, -500px); transition: all 0.2s; opacity: 0; }
.ui-form-animate { transform: translate(0,0); opacity: 1; }
.ui-form-animate-click { transform: translate(0,10px) scale(1.07); }
.ui-form-padding { padding: 0 30px; }
.ui-form-title { padding: 15px 20px; font-size: 16px; user-select: none; color: #AAB2BD; background-color: #F8F8F8; font-family: 'Source Sans Pro'; border-bottom: 1px solid #F0F0F0; }
.ui-form-title .fa-times { float: right; cursor: pointer; font-size: 18px; margin-top: 4px; }
.ui-form-title .fa-times:hover { color: black; }
.ui-form-title .fa-times:active { margin-top: 5px; }
.ui-form-buttons { padding: 20px; border-top: 5px solid #F0F0F0; background-color: #F8F8F8; }
.ui-form-buttons button { border: 2px solid #E0E0E0; background-color: white; border-radius: 4px; height: 45px; padding: 0 15px; color: black; margin: 0; cursor: pointer; font-family: Arial; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; }
.ui-form-buttons button .fa { width: 16px; }
.ui-form-buttons button:hover { border-color: silver; }
.ui-form-buttons button:active { background-color: #D0D0D0; }
.ui-form-buttons button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-form-buttons button[name="submit"] { width: 220px; margin-right: 15px; font-weight: bold; }
.ui-form-buttons button[name="cancel"] { color: gray; }
.ui-form-buttons div { position: relative; display: inline-block; vertical-align: middle; }
.ui-form-buttons label { float: right; margin: 12px 0 0 0; font-size: 11px; }

.filter { border-bottom: 2px solid #F0F0F0; padding: 0 0 5px; margin: 20px 0; font-size: 11px; }
.filter {
	.caption { font-size: 20px; margin-bottom: 20px; font-family: 'Source Sans Pro'; color: #AAB2BD; }
	.m { margin-bottom: 10px; }
	.ui-dropdown { height: 28px; padding-top: 1px; }
	.ui-dropdown select { height: 18px; font-size: 11px; }
	.ui-dropdown-label { font-size: 11px; }
	.ui-dropdown .fa { right: 10px; top: 7px; }
	.ui-textbox-label { font-size: 11px; }
	.ui-textbox { padding: 5px 2px 4px 5px; }
	.ui-textbox input { font-size: 11px; }
	.ui-dropdowncheckbox-label { font-size: 11px; }
	.ui-dropdowncheckbox { height: 28px; }
	.ui-dropdowncheckbox-selected { font-size: 11px; }
	.ui-dropdowncheckbox .fa { margin-top: 5px; font-size: 14px; }
}

.ui-calendar { font-size: 12px; position: absolute; background-color: white; width: 220px; height: 236px; border: 1px solid #E0E0E0; left: 100px; top: 100px; padding: 10px; border-radius: 2px; z-index: 80; color: gray; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.ui-calendar table { width: 100%; margin-bottom: 10px; border-bottom: 1px solid #F0F0F0; }
.ui-calendar table td { padding: 3px 0; text-align: center; vertical-align: middle; font-size: 11px; }
.ui-calendar table th { padding: 8px 0 5px; text-align: center; width: 14%; border-top: 1px solid #E0E0E0; vertical-align: middle; }
.ui-calendar-disabled { color: silver; }
.ui-calendar-day {}
.ui-calendar-day-today { background-color: #F0F0F0; }
.ui-calendar-selected { background-color: #F8F7DA; font-weight: bold; }
.ui-calendar-day:hover { background-color: #F8F7DA; cursor: pointer; }
.ui-calendar button { background-color: white; border: 0; outline: 0; border: 1px solid #D0D0D0; border-radius: 3px; width: 24px; height: 21px; font-size: 11px; line-height: 0; text-align: center; padding: 0; vertical-align: middle; cursor: pointer; }
.ui-calendar-header { height: 30px; }
.ui-calendar-header-info { text-align: center; width: 118px; float: left; font-size: 12px; margin: 2px 0 0 10px; font-weight: bold; }
.ui-calendar-header-prev { float: left; }
.ui-calendar-header-next { float: right; }

.ui-confirm { background-color: rgba(255,255,255,0.9); position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 100; width: 100%; display: table; height: 100%; transition: 0.5s all; opacity: 0; }
.ui-confirm > div { display: table-cell; vertical-align: middle; text-align: center; color: white; padding: 15px; }
.ui-confirm-body { padding: 30px; position: relative; display: inline-block; border-radius: 4px; max-width: 600px; text-align: left; transform: scale(0.5); transition: 0.3s all; color: gray; border: 1px solid #E0E0E0; background-color: white; box-shadow: 0 0 30px rgba(0,0,0,0.1); }
.ui-confirm-click { transform: scale(1.07) !important; }
.ui-confirm-message { border-bottom: 1px solid #F0F0F0; padding: 0 0 20px 0; margin-bottom: 20px; }
.ui-confirm button { font-size: 12px; position: relative; display: inline-block; cursor: pointer; outline: 0; background-color: #E0E0E0; border: 0; border-radius: 4px; color: gray; padding: 0 20px; height: 30px; font-weight: bold; margin: 0 10px 0 0; }
.ui-confirm button:hover { background-color: #E5E5E5; }
.ui-confirm-visible { opacity: 1; }
.ui-confirm-visible .ui-confirm-body { -webkit-transform: scale(1); transform: scale(1); }

.ui-loading { position: fixed; width: 100%; height: 100%; background-color: rgba(255,255,255,0.8); background-image: url(../img/preloader.gif); background-repeat: no-repeat; background-position: 50% 50%; left: 0; top: 0; z-index: 100; }
.ui-notification-container { position: fixed; right: 0; top: 0; width: 300px; z-index: 5; padding: 5px 20px 0 0; }
.ui-notification { background-color: white; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 4px; border: 1px solid #E0E0E0; font-size: 12px; padding: 15px 15px 15px 10px; margin-top: 15px; position: relative; display: block; }
.ui-notification > i { position: absolute; right: 12px; top: 10px; color: silver; font-size: 14px; cursor: pointer; }
.ui-notification > i:active { top: 11px; }
.ui-notification > i:hover { color: #DB2724; }
.ui-notification-icon { float: left; font-size: 22px; color: #AAB2BD; width: 35px; text-align: center; }
.ui-notification-message { margin: 1px 0 0 40px; color: gray; max-height: 150px; }
.ui-notification-datetime { font-size: 10px; color: #A0A0A0; margin-bottom: 4px; padding-top: 5px; }

@media(max-width: 767px) {
	.ui-notification-container { width: auto; left: 0; padding-left: 20px; }
	.ui-confirm button { display: block; margin: 10px 0 0; display: block; width: 100%; }
	.ui-form-container-padding { padding: 0 20px; }
}

.ui-textbox { border: 2px solid #E0E0E0; padding: 5px 2px 5px 5px; border-radius: 2px; position: relative; width: 100%; background-color: white; display: table; }
.ui-textbox input { display: table-cell; border: 0; outline: 0; font: normal 14px Arial; color: black; width: 100%; background-color: white; padding: 0; }
.ui-textbox div { width: 1%; position: relative; vertical-align: middle; display: table-cell; text-align: center; white-space: nowrap; text-overflow: clip; border-left: 1px solid #E0E0E0; width: 30px; color: silver; user-select: none; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textbox-label .fa { width: 14px; }
.ui-textbox-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textbox-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textbox-invalid input { background-color: #FFF3F3 !important; }
.ui-textbox ul { margin: 20px 0 0 -5px; padding: 0; list-style-type: none; position: absolute; width: 100%; background-color: white; z-index: 5; border: 1px solid #E0E0E0; box-shadow: 0 2px 10px rgba(0,0,0,0.1); display: none; }
.ui-textbox li { display: block; padding: 5px 10px; border-top: 1px solid #E0E0E0; cursor: pointer; }
.ui-textbox li:first-child { border-top: 0; }
.ui-textbox li.selected { background-color: #F0F0F0; }
.ui-textbox button { background-color: transparent; border: 0; padding: 0; margin: 0; }
.ui-textbox .fa-caret-up, .ui-textbox .fa-caret-down { display:block; line-height:9px; cursor: pointer; }
.ui-textarea { border: 2px solid #E0E0E0; padding: 4px 5px; border-radius: 2px; position: relative; display: block; width: 100%; background-color: white; }
.ui-textarea textarea { border: 0; width: 100%; outline: 0; font: normal 14px Arial; color: black; resize: none; min-height: 50px; background-color: white; padding: 0; }
.ui-textarea-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textarea-label .fa { width: 14px; }
.ui-textarea-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textarea-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textarea-invalid textarea { background-color: #FFF3F3 !important; }
.ui-textarea-code textarea { font-family: monospace; font-size: 14px; }

.ui-dropdown-values { position: relative; display: block; height: 34px; text-align: left; }
.ui-dropdown { border: 2px solid #E0E0E0; padding: 0 10px; border-radius: 2px; outline: 0; height: 34px; overflow: hidden; float: left; width: 100%; background-color: white; position: relative; }
.ui-dropdown select { width: 120%; outline: 0; border: 0; height: 26px; background-color: white; font-size: 14px; float: left; cursor: pointer; padding: 0; margin: 2px 0 0 -3px; color: black; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
.ui-dropdown .fa { position: absolute; right: 8px; top: 8px; }
.ui-dropdown-label { margin-bottom: 5px; font-size: 12px; }
.ui-dropdown-label .fa { width: 14px; }
.ui-dropdown-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-dropdown-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-dropdown-invalid select { background-color: #FFF3F3 !important; }
.ui-dropdown select:disabled { background-color: #F0F0F0; cursor: not-allowed; color: gray; }

.button { position: relative; display: inline-block; margin: 0; padding: 0; border: 1px solid #E0E0E0; border-radius: 4px; background-color: white; background: linear-gradient(white,#F0F0F0); padding: 20px 0; font: normal normal 14px Arial; vertical-align: middle; color: gray; width: 100%; box-shadow: inset 1px 1px 1px white; text-align: center; }
.button:hover { border-color: #D0D0D0; text-decoration: none; }
.button:active { background: white; color: #A4A4A4; }
.button:disabled { color: silver; border-color: #E0E0E0; cursor: not-allowed; background: white; }
.button-small { padding: 7px 0; font-size: 11px; }
.button .fa { margin-right: 5px; }

.ui-disabled { background-color: #F0F0F0; cursor: not-allowed; }
.ui-disabled > div { background-color: #F0F0F0; }

.ui-checkbox { margin-bottom: 5px; line-height: 10px; font-size: 12px; }
.ui-checkbox span { cursor: pointer; vertical-align: middle; }
.ui-checkbox div { position: relative; display: inline-block; width: 16px; height: 16px; border: 2px solid #E0E0E0; margin-right: 8px; vertical-align: middle; cursor: pointer; color: white; font-size: 11px; text-align: center; padding: 1px 0 0 1px; background-color: white; border-radius: 3px; }
.ui-checkbox .fa { display: none; }
.ui-checkbox-checked div { background-color: #017CCA; border-color: #017CCA; }
.ui-checkbox-checked .fa { display: block !important; }
label { vertical-align: middle; }
label input { vertical-align: middle; margin-right: 3px; }
label span { vertical-align: middle; }

.ui-justify { text-align: justify !important; }
.ui-center { text-align: center !important; }
.ui-left { text-align: left !important; }
.ui-right { text-align: right !important; }

.ui-error { margin: 15px 0; padding: 0; list-style-type: none; border: 2px solid #BE3A48; border-left-width: 0; border-right-width: 0; padding: 10px 0; color: #BE3A48; }
.ui-error li { display: block; }
.ui-error li .fa { width: 14px; }

.ui-message { background-color: rgba(255,255,255,0.9); position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 80; width: 100%; display: table; height: 100%; transition: 0.5s all; opacity: 0; }
.ui-message > div { display: table-cell; vertical-align: middle; text-align: center; color: white; padding: 15px; }
.ui-message .fa { position: absolute; margin: -75px 0 0 -35px; width: 70px; left: 50%; height: 70px; padding-top: 15px; border-radius: 100px; font-size: 30px; border-width: 5px; border-style: solid; text-align: center; }
.ui-message-body { padding: 30px; position: relative; display: inline-block; border-radius: 4px; max-width: 600px; text-align: left; transform: scale(0.5); transition: 0.3s all; }
.ui-message-warning { background-color: #DA4453; }
.ui-message-warning .fa { background-color: #ED5565; border-color: #DA4453; }
.ui-message-success { background-color: #8CC152; }
.ui-message-success .fa { background-color: #A0D468; border-color: #8CC152; }
.ui-message button { display: block; width: 240px; margin: 20px auto 0; cursor: pointer; outline: 0; background-color: #E0E0E0; border: 0; border-radius: 4px; color: gray; padding: 0 20px; height: 40px; font-weight: bold; }
.ui-message button:hover { background-color: #E5E5E5; }
.ui-message-visible { opacity: 1; }
.ui-message-visible .ui-message-body { transform: scale(1); }

.ui-expander { position: relative; width: 100%; }
.ui-expander-container { max-height: 150px; overflow: hidden; transition: all 0.5s; }
.ui-expander-fade { position: absolute; left: 0; top: 50%; margin-top: -30px; background: linear-gradient(transparent,white); height: 50%; width: 100%; text-align: center; }
.ui-expander-button { text-align: center; margin: 10px auto; cursor: pointer; font-size: 15px; color: #A0A0A0; max-width: 200px; border-top: 1px solid #E0E0E0; padding: 3px 0; border-radius: 0 0 4px 4px; }
.ui-expander-button:hover { background-color: #F8F8F8; }
.ui-expander-expanded .ui-expander-fade { display: none; }
.ui-expander-expanded .ui-expander-container { max-height: 1500px !important; }

.ui-textboxlist-label { margin-bottom: 10px; }
.ui-textboxlist-label .fa { margin-right: 5px; }
.ui-textboxlist-item { height: 30px; background-color: #F8F8F8; margin-bottom: 1px; border-radius: 3px; }
.ui-textboxlist-item > div:first-child { float: right; width: 25px; text-align: center; color: #DA4453; font-size: 14px; margin: 4px 0 0; }
.ui-textboxlist-item > div:last-child { padding: 4px 0 0 0; margin-right: 25px; }
.ui-textboxlist-item .fa { cursor: pointer; position: relative; display: inline-block; }
.ui-textboxlist-item .fa:active { margin-top: 1px; }
.ui-textboxlist-item input { width: 100%; background-color: transparent; border: 0; padding: 3px 10px 0; border-radius: 4px; outline: 0; font-size: 12px; color: black; }
.ui-textboxlist-base .fa { display: none; }

.ui-multioptions { background-color: white; padding: 0 0 15px; }
.ui-multioptions-item { height: 36px; padding: 0 35px; }
.ui-multioptions-item:nth-child(even) { background-color: #F5F7FA; }
.ui-multioptions-item:first-child { border-top: 0; }
.ui-moi-name { float: left; width: 30%; margin: 12px 0 0 0; font-size: 12px; }
.ui-moi-value { float: right; width: 70%; }
.ui-moi-value-inputtext { font-size: 11px; border: 0; background-color: #E6E9ED; width: 100%; margin: 7px 0 0 0; padding: 3px 10px; color: black; outline: 0; }
.ui-moi-value-inputnumber input { font-size: 11px; border: 0; background-color: #E6E9ED; width: 100%; margin: 8px 0 0 0; padding: 1px 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputnumber { margin-left: 40px; }
.ui-moi-value-inputnumber-buttons { float: left; width: 40px; }
.ui-moi-value-inputnumber-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 3px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputnumber-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-inputpath input { font-size: 11px; border: 0; background-color: #E6E9ED; width: 100%; margin: 8px 0 0 0; padding: 1px 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputpath { margin-left: 20px; }
.ui-moi-value-inputpath-buttons { float: left; width: 20px; }
.ui-moi-value-inputpath-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 2px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputpath-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-inputdate input { font-size: 11px; border: 0; background-color: #E6E9ED; width: 100%; margin: 8px 0 0 0; padding: 1px 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputdate { margin-left: 20px; }
.ui-moi-value-inputdate-buttons { float: left; width: 20px; }
.ui-moi-value-inputdate-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 2px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputdate-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-colors { margin: 8px 0 0 0; }
.ui-moi-value-colors span { width: 4%; height: 20px; float: left; text-align: center; cursor: pointer; color: white; }
.ui-moi-value-colors .fa { display: none; padding: 3px 0 0 0; }
.ui-moi-value-colors .selected .fa { display: block; }

.ui-moi-value-select { background-color: #E6E9ED; position: relative; width: 100%; overflow: hidden; margin: 7px 0 0 0; }
.ui-moi-value-select select { width: 120%; outline: 0; border: 0; height: 20px; background-color: #E6E9ED; font-size: 11px; float: left; cursor: pointer; padding: 0; margin: 2px 0 0 8px; color: black; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
.ui-moi-value-select .fa { position: absolute; right: 7px; top: 5px; font-size: 10px; color: gray; }

.ui-moi-value-boolean { margin: 8px 0 0 0; width: 19px; height: 19px; border: 2px solid #D0D0D0; text-align: center; font-size: 12px; color: white; padding: 2px 0 0 0; cursor: pointer; background-color: white; }
.ui-moi-value-boolean .fa { display: none; }
.ui-moi-value-boolean.checked .fa { display: block; }
.ui-moi-value-boolean.checked { background-color: #8CC152; }

.ui-dictionary-label { margin-bottom: 10px; }
.ui-dictionary-label .fa { margin-right: 5px; }
.ui-dictionary-item { height: 30px; background-color: #F8F8F8; margin-bottom: 1px; border-radius: 3px; }
.ui-dictionary-item-remove { float: right; width: 25px; text-align: center; color: #DA4453; font-size: 14px; margin: 4px 0 0; }
.ui-dictionary-item-key { padding: 4px 0 4px 0; float: left; width: 200px; border-right: 1px solid #E0E0E0; font-weight: bold; }
.ui-dictionary-item-value { padding: 4px 0 0 0; margin: 0 25px 0 202px; }
.ui-dictionary-item .fa { cursor: pointer; position: relative; display: inline-block; }
.ui-dictionary-item .fa:active { margin-top: 1px; }
.ui-dictionary-item input { width: 100%; background-color: transparent; border: 0; padding: 3px 10px 0; border-radius: 4px; outline: 0; font-size: 12px; color: black; }
.ui-dictionary-base .fa { display: none; }
