<div data-jc="form" data-title="@(Configure widget)" data-jc-path="common.form" data-if="value === 'configure'" data-width="800px" data-jc-id="formconfigure" data-autocenter="false" class="hidden">
	<div class="padding npb">
		<ul class="tabmenu" data-jc="tabmenu" data-jc-path="formconfigure.tab">
			<li data-value="settings">@(Settings)</li>
			<li data-value="datasource">@(Data Source)</li>
			<li data-value="dictionary">@(Dictionary)</li>
			<li data-value="example">@(Sample data)</li>
		</ul>
	</div>
	<div data-jc="visible" data-jc-path="formconfigure.tab" data-if="value === 'datasource'" class="hidden">
		<div class="padding npt">
			<div data-jc="dropdown" data-jc-path="formconfigure.datasourceid" data-source="dashboard.datasources" data-empty="">@(Preddefined data sources)</div>
		</div>
		<div data-jc="visible" data-jc-path="formconfigure.datasourceid" data-if="!value">
			<div data-jc-scope="formconfigure.datasource">
				<div data-jc-url="/templates/rest.html"></div>
			</div>
		</div>
		<br />
	</div>
	<div data-jc="visible" data-jc-path="formconfigure.tab" data-if="value === 'settings'" class="hidden">
		<div data-jc="multioptions" data-jc-path="formconfigure.options" data-jc-id="widgetoptions"></div>
	</div>
	<div data-jc="visible" data-jc-path="formconfigure.tab" data-if="value === 'dictionary'" class="padding hidden npt">
		<div data-jc="dictionary" data-jc-path="formconfigure.dictionary" data-placeholder-key="@(Key)" data-placeholder-value="@(New name and press enter)"></div>
	</div>
	<div data-jc="visible" data-jc-path="formconfigure.tab" data-if="value === 'example'" class="padding hidden npt npb">
		<div data-jc="visible" data-jc-path="formconfigure.example" data-if="value" class="hidden">
			<div data-jc="highlightsyntax" data-type="json" data-jc-path="formconfigure.example"></div>
		</div>
		<br />
	</div>
	<div class="ui-form-buttons">
		<div>
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	if (!window.formconfigure)
		window.formconfigure = {};

	formconfigure.tab = 'settings';

	ON('#formconfigure', function(component) {
		component.submit = function(hide) {

			hide();
			FIND('#widgetoptions').save();

			var widget = WIDGETS_DASHBOARD.findItem('id', formconfigure.id);
			if (!widget)
				return;

			var is = STRINGIFY(widget.datasource) !== STRINGIFY(formconfigure.datasource);
			var changes = [];
			var tmp;

			if (formconfigure.datasourceid) {
				tmp = dashboard.datasources.findItem('id', formconfigure.datasourceid);
				if (tmp)
					formconfigure.datasource = tmp;
			}

			if (widget.hack) {
				tmp = widget.hack(formconfigure.datasource);
				if (tmp != null)
					formconfigure.datasource = tmp;
			}

			widget.datasource = CLONE(formconfigure.datasource);

			if (formconfigure.datasourceid)
				widget.datasource_key = formconfigure.datasourceid;

			if (!WIDGETS_USERSETTINGS[formconfigure.id])
				WIDGETS_USERSETTINGS[formconfigure.id] = {};

			Object.keys(formconfigure.options).forEach(function(key) {
				var a = WIDGETS_USERSETTINGS[formconfigure.id][key];
				var b = formconfigure.options[key].value;
				if (a === b)
					return;
				WIDGETS_USERSETTINGS[formconfigure.id][key] = b;
				changes.push(key);
			});

			widget.options = WIDGETS_USERSETTINGS[formconfigure.id];
			widget.dictionary = formconfigure.dictionary;
			widget.state && widget.state(1, changes);

			dashboard.changed = true;
			is && WIDGETS_REFRESH_DATASOURCE2();
		};
	});

	ON('@multioptions', function(component) {
		component.form = function(type, input, name) {
			dashboard.pathstarget = input;

			if (!formconfigure.datasource) {
				SETTER('message', 'warning', '@(You don\'t have specified data-source.)');
				return;
			}

			if (dashboard.paths) {
				SET('common.subform', 'path');
				return;
			}

			AJAX('GET /api/proxy/', formconfigure.datasource, function(response, err) {
				var output = [];
				analyse(output, response);
				SET('dashboard.paths', output);
				SET('common.subform', 'path');
			});
		};
	});

</script>