<br />
<div class="container">
	<header>
		<div class="row hidden-xs">
			<div class="col-sm-4 col-sm-offset-4 center">
				<h1 data-binder="dashboard.current.name" data-binder-visible="n => n" data-binder-html="n => n ? n : '@(New dashboard)'"></h1>
			</div>
			<div class="col-sm-4 theme-selector hidden">
				<div data-jc="themeselector" data-jc-path="dashboard.theme"></div>
			</div>
		</div>
	</header>
	<div class="row" data-jc="dashboard" data-jc-path="WIDGETS_DASHBOARD"></div>
</div>

<script>

	var dashboard = {};

	dashboard.changed = false;
	dashboard.title = document.title;
	dashboard.items = [];
	dashboard.initialized = false;
	dashboard.oldsettings = '';
	dashboard.id = '';

	function dashboard_edit() {
		var com = FIND('dashboard');

		if (com.getMode() === 0) {
			dashboard_editbutton(1);
			return com.mode();
		}

		if (!dashboard.changed) {
			com.mode();
			dashboard_editbutton(0);
			return;
		}

		IMPORTSET('formsave', 'common.form', 'save');
		SET('formsave', dashboard.current, true);
		setTimeout(function() { CHANGE('formsave.name', true); }, 1000);
	}

	function dashboard_editbutton(type) {
		var btn = $('.iconmodify');
		$('.theme-selector').toggleClass('hidden', type === 0);
	}

	function dashboard_browse() {
		IMPORTSET('formbrowse', 'common.form', 'browse');
	}

	function dashboard_refresh(callback) {
		AJAX('GET /api/dashboard/', function(response) {

			var categories = {};

			response.forEach(function(item) {
				if (item.group)
					categories[item.group] = true;
			});

			categories = Object.keys(categories);
			categories.sort(function(a, b) {
				return a.toLowerCase().removeDiacritics().substring(0, 5).localeCompare(b.toLowerCase().removeDiacritics().substring(0, 5));
			});

			response.sort(function(a, b) {
				return a.name.toLowerCase().removeDiacritics().substring(0, 5).localeCompare(b.name.toLowerCase().removeDiacritics().substring(0, 5));
			});

			SET('dashboard.categories', categories);
			SET('dashboard.items', response);
			typeof(callback) === 'function' && callback();
		});
	}

	function dashboard_load(id) {

		if (dashboard.current && dashboard.current.id === id)
			return;

		var item = dashboard.items.findItem('id', id);
		item && AJAX('GET /api/settings/{0}/'.format(id), function(response) {

			CACHE('default', id, '10 days');
			if (response && response.data)
				WIDGETS_WIDGETSETTINGS = JSON.parse(decodeURIComponent(atob(response.data)));
			else
				WIDGETS_WIDGETSETTINGS = {};

			document.title = item.name;

			var body = $('body').removeClass();
			item.theme && body.addClass(item.theme);
			SET('dashboard.theme', item.theme);
			$('h1').text(item.name);
			dashboard.changed = false;

			SETTER('loading', 'show');
			item.data && WIDGETS_LOAD(JSON.parse(decodeURIComponent(atob(item.data))));
			SETTER('loading', 'hide', 200);
			dashboard_editbutton(0);
			FIND('dashboard').mode(0);
			SET('dashboard.current', item);
			setTimeout2('dashboard.load', function() {
				EMIT('dashboard', item);
			}, 200);
		});
	}

	function dashboard_new() {
		DEFAULT('formnew.*');
		IMPORTSET('formnew', 'common.form', 'new');
	}

	function dashboard_clear() {
		dashboard_editbutton(0);
		FIND('dashboard').mode(0);
		EMIT('dashboard', null);
		SET('dashboard.current', null);
		CACHE('default', '', '10 days');
		SETTER('dashboard', 'clear');
		dashboard_browse();
	}

	setInterval(function() {
		if ((!dashboard.current || !dashboard.current.id) || FIND('dashboard').getMode())
			return;
		var item = dashboard.items.findItem('id', dashboard.id);
		if (!item)
			return;

		var obj = {};
		obj.data = btoa(encodeURIComponent(JSON.stringify(WIDGETS_WIDGETSETTINGS)));

		if (obj.data !== dashboard.oldsettings) {
			obj.id = item.id;
			dashboard.oldsettings = obj.data;
			AJAX('POST /api/settings/', obj, NOOP);
		}
	}, 10000);

	dashboard_refresh(true);
	AJAX('GET /api/groups/', 'dashboard.groups');

	WATCH('dashboard.theme', function(path, value, type) {
		var body = $('body').removeClass();
		value && body.addClass(value);
		dashboard.changed = true;
	});

</script>
