<br />
<div class="container">
	<div class="row hidden-xs">
		<div class="col-sm-4 col-sm-offset-4 center">
			<h1 data-binder="dashboard.current.name" data-binder-html="n => n ? n : '@(New dashboard)'">@(New dashboard)</h1>
		</div>
		<div class="col-sm-4 theme-selector hidden">
			<div data-jc="themeselector" data-jc-path="dashboard.theme"></div>
		</div>
	</div>
	<div class="row" data-jc="dashboard" data-jc-path="WIDGETS_DASHBOARD"></div>
</div>

<script>

	var dashboard = {};

	dashboard.changed = false;
	dashboard.title = document.title;
	dashboard.items = [];
	dashboard.initialized = false;
	dashboard.oldsettings = '';

	function dashboard_edit() {
		var com = FIND('dashboard');

		if (com.getMode() === 0) {
			dashboard_editbutton(1);
			return com.mode();
		}

		if (!dashboard.changed) {
			com.mode();
			dashboard_editbutton(0);
			return;
		}

		IMPORTSET('formsave', 'common.form', 'save');
		var item = dashboard.items.findItem('id', jR.params[0]);
		SET('formsave', item || {}, true);
		item && setTimeout(function() { CHANGE('formsave.name', true); }, 1000);
	}

	function dashboard_editbutton(type) {
		var btn = $('.iconmodify');
		$('.theme-selector').toggleClass('hidden', type === 0);
	}

	function dashboard_browse() {
		IMPORTSET('formbrowse', 'common.form', 'browse');
	}

	function dashboard_refresh(callback) {
		AJAX('GET /api/dashboard/', function(response) {

			var categories = {};

			response.forEach(function(item) {
				if (item.group)
					categories[item.group] = true;
			});

			categories = Object.keys(categories);
			categories.sort(function(a, b) {
				return a.toLowerCase().removeDiacritics().substring(0, 5).localeCompare(b.toLowerCase().removeDiacritics().substring(0, 5));
			});

			response.sort(function(a, b) {
				return a.name.toLowerCase().removeDiacritics().substring(0, 5).localeCompare(b.name.toLowerCase().removeDiacritics().substring(0, 5));
			});

			SET('dashboard.categories', categories);
			SET('dashboard.items', response);

			typeof(callback) === 'function' && callback();

			if (!callback || jR.url !== '/')
				return;

			response.length && dashboard_browse();
		});
	}

	function dashboard_datasource(callback) {
		AJAX('GET /api/datasources/', function(response) {
			SET('dashboard.datasources', response.slice(0));

			var group = {};

			response.forEach(function(key) {
				group[key.group] = true;
			});

			delete group[''];
			SET('dashboard.datasources_groups', Object.keys(group));

			if (callback === true)
				WIDGETS_REFRESH_DATASOURCE2();
			else
				callback && callback();
		});
	}

	function dashboard_load(id) {

		var item = dashboard.items.findItem('id', id);
		if (!item)
			return;

		AJAX('GET /api/settings/{0}/'.format(id), function(response) {

			if (response && response.data)
				WIDGETS_WIDGETSETTINGS = JSON.parse(decodeURIComponent(atob(response.data)));
			else
				WIDGETS_WIDGETSETTINGS = {};

			document.title = item.name;

			var body = $('body').removeClass();
			item.theme && body.addClass(item.theme);
			SET('dashboard.theme', item.theme);
			$('h1').text(item.name);
			dashboard.changed = false;

			SETTER('loading', 'show');
			WIDGETS_LOAD(JSON.parse(decodeURIComponent(atob(item.data))));
			SETTER('loading', 'hide', 200);
			$('.iconnew').removeClass('selected');
			$('.iconbrowse').addClass('selected');
			dashboard_editbutton(0);
			FIND('dashboard').mode(0);
			SET('dashboard.current', item);
		});
	}

	function dashboard_new() {
		SETTER('loading', 'show');
		SETTER('dashboard', 'clear');
		SETTER('loading', 'hide', 800);
		$('.iconnew').addClass('selected');
		$('.iconbrowse').removeClass('selected');
		dashboard_editbutton(1);
		FIND('dashboard').mode(1);
		document.title = dashboard.title;
		WIDGETS_WIDGETSETTINGS = {};
		SET('dashboard.current', null);
	}

	setInterval(function() {
		if (!jR.params.length || FIND('dashboard').getMode())
			return;
		var item = dashboard.items.findItem('id', jR.params[0]);
		if (!item)
			return;

		var obj = {};
		obj.data = btoa(encodeURIComponent(JSON.stringify(WIDGETS_WIDGETSETTINGS)));

		if (obj.data === dashboard.oldsettings)
			return;

		obj.id = item.id;
		dashboard.oldsettings = obj.data;
		AJAX('POST /api/settings/', obj, NOOP);
	}, 10000);

	function dashboard_import() {
		IMPORTSET('formimport', 'common.form', 'import');
		SET('formimport', {}, true);
	}

	function dashboard_export() {

		var item = dashboard.items.findItem('id', jR.params[0]);
		if (!item)
			return;

		var data = WIDGETS_SAVE();
		data.repository = [];
		data.name = item.name;
		data.group = item.group;

		for (var i = 0, length = data.widgets.length; i < length; i++) {
			var w = WIDGETS_DATABASE[data.widgets[i].$name];
			w && w.repository && data.repository.indexOf(w.repository) === -1 && data.repository.push(w.repository);
		}

		IMPORTSET('formexport', 'common.form', 'export');
		SET('formexport.body', btoa(encodeURIComponent(JSON.stringify(data))));
	}

	dashboard_datasource(function() {
		dashboard_refresh(true);
	});

	setTimeout(function() {
		user.photo && $('.photo img').attr('src', user.photo);
	}, 200);

	WATCH('dashboard.theme', function(path, value, type) {
		var body = $('body').removeClass();
		value && body.addClass(value);
		dashboard.changed = true;
	});

</script>
