<div data-jc="form" data-title="@(Data Source)" data-jc-path="common.subform" data-if="value === 'datasource'" data-width="800px" data-jc-id="formdatasource" data-autocenter="false">
	<div class="padding npb">
		<div class="m" data-jc="textbox" data-jc-path="formdatasource.name" data-placeholder="@(Name)" data-jc-value="''" data-required="true" data-maxlength="50">@(Name)</div>
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="formdatasource.group" data-placeholder="@(e.g. Ecommerce)" data-jc-value="''" data-maxlength="30">@(Group)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="dropdown" data-jc-path="formdatasource.group" data-empty="" data-source="dashboard.datasources_groups">@(Group)</div>
			</div>
		</div>
	</div>
	<div data-jc-scope="formdatasource">
		<div data-jc-url="/templates/rest.html"></div>
	</div>
	<br />
	<div data-jc="error" data-jc-path="formdatasource.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="formdatasource">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	if (!window.formdatasource)
		window.formdatasource = {};

	ON('#formdatasource', function(component) {
		component.submit = function(hide) {
			SETTER('loading', 'show');
			AJAX('POST /api/datasources/', formdatasource, function(response) {
				SETTER('loading', 'hide', 1000);

				if (response instanceof Array) {
					SET('formdatasource.response', response);
					return;
				}

				hide();
				EXEC('formsources_refresh');
			});
		};
	});

</script>