<div data-jc="form" data-title="@(Select dashboard)" data-jc-path="common.form" data-if="value === 'browse'" data-width="700px" data-jc-id="formbrowse" data-autocenter="false" class="hidden">
	<div class="filter padding npt">
		<div class="row">
			<div class="col-sm-8">
				<div data-jc="textbox" data-jc-type="search" data-placeholder="@(Search dashboards)" data-jc-path="formbrowse.search" data-maxlength="30"></div>
			</div>
			<div class="col-sm-4 hidden-xs">
				<a href="javascript:void(0)" class="button button-small exec" data-exec="dashboard_new"><i class="fa fa-plus-circle"></i>@(Create new)</a>
			</div>
		</div>
	</div>
	<div data-jc="search" data-jc-path="formbrowse.search" data-selector=".search">
		<div data-jc="repeater-group" data-jc-path="dashboard.items" data-group="group" class="browsecontainer">
			<script type="text/html">
				<div class="browse-item search" data-search="{{ name }}">
					<a href="/#{{ id }}" class="browse-item-link browse-link">{{ name }}</a>
					<a href="javascript:void(0)" data-id="{{ id }}" class="browse-item-remove browse-remove"><i class="fa fa-times-circle"></i></a>
				</div>
			</script>
			<script type="text/html">
				<div class="browse-category search" data-search="_"><i class="fa fa-folder-o mr5"></i>{{ group }}</div>
			</script>
		</div>
	</div>
	<div data-jc="empty" data-jc-path="dashboard.items">@(No data)</div>
	<br />
	<div class="ui-form-buttons center">
		<button name="cancel" style="width:150px">@(Cancel)</button>
	</div>
</div>

<script>
	var formbrowse = {};

	$(document).on('click', '.browse-link', function() {
		SETTER('loading', 'show')('loading', 'hide', 1000);
		SET('common.form', '', 100);
	});

	$(document).on('click', '.browse-remove', function() {
		var el = $(this);
		var id = el.attr('data-id');

		FIND('confirm').confirm('@(Are you sure you want to remove this dashboard?)', ['@(Yes)', '@(Cancel)'], function(index) {
			if (index)
				return;
			SETTER('loading', 'show');
			AJAX('DELETE /api/dashboard/{0}/'.format(id), function() {
				EXEC('dashboard_refresh', function() {
					SETTER('loading', 'hide', 1000);
					dashboard.current && dashboard.current.id === id && EXEC('dashboard_clear');
					SET('formbrowse.search', '');
					!dashboard.items.length && SET('common.form', '');
				});
			});
		});
	});

</script>