<div data-jc="form" data-title="@(Importing dashboard)" data-jc-path="common.form" data-if="value === 'import'" data-width="600px" data-jc-id="formimport" data-autocenter="false" class="hidden">
	<div class="padding">
		<div class="m" data-jc="textarea" data-jc-path="formimport.body" data-required="true" data-height="300px">@(Paste dashboard data)</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="formimport">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	if (!window.formimport)
		window.formimport = {};

	ON('#formimport', function(component) {
		component.submit = function(hide) {

			var data;
			try {
				data = JSON.parse(decodeURIComponent(atob(formimport.body)));
			} catch (e) {
				SETTER('message', 'warning', '@(The data are not valid.)');
				return;
			}

			AJAX('GET /api/repositories/', function(response) {

				var is = false;
				var newrepository = [];

				data.repository.forEach(function(url) {
					if (response.indexOf(url) !== -1)
						return;
					response.push(url);
					newrepository.push(url);
					is = true;
				});

				SETTER('loading', 'show');
				is && AJAX('POST /api/repositories/', { items: response }, NOOP);

				newrepository.waitFor(function(url, next) {
					IMPORT('ONCE ' + url, next);
				}, function() {

					data.data = btoa(encodeURIComponent(JSON.stringify({ widgets: data.widgets, options: data.options })));
					delete data.id;
					delete data.options;
					delete data.widgets;
					delete data.repository;

					AJAX('POST /api/dashboard/', data, function(response) {
						hide();
						EXEC('repositories_refresh');
						EXEC('dashboard_refresh', function() {
							SETTER('loading', 'hide', 1000);
							FIND('dashboard').mode();
							EXEC('dashboard_refresh')('dashboard_editbutton', 0);
							response.value && jR.redirect('/{0}/'.format(response.value));
						});
					});
				});
			});
		};
	});
</script>