<div data-jc="form" data-title="@(Select path)" data-jc-path="common.subform" data-if="value === 'path'" data-width="500px" data-jc-id="form.path" data-autocenter="false" class="hidden">
	<div class="padding">
		<div data-jc="repeater" data-jc-path="dashboard.paths" class="pathcontainer">
			<script type="text/html">
				<div class="path-item" data-id="$index">{{ path }}</div>
			</script>
		</div>
	</div>
	<div class="ui-form-buttons center">
		<button name="cancel" style="width:150px">@(Cancel)</button>
	</div>
</div>

<script>
	var formpaths = {};

	$(document).on('click', '.path-item', function() {
		var el = $(this);
		dashboard.pathstarget.val(el.html());
		SET('common.subform', '');
	});

</script>