<div data-component="form" data-title="@(Saving)" data-component-path="common.form" data-if="value === 'save'" data-width="600px" data-component-id="formsave" data-autocenter="false">
	<div class="padding">
		<div class="m" data-component="textbox" data-component-path="formsave.name" data-placeholder="@(Dashboard name)" data-component-value="''" data-required="true" data-maxlength="50">@(Name)</div>

		<div class="row">
			<div class="col-md-6">
				<div class="m" data-component="textbox" data-component-path="formsave.group" data-placeholder="@(e.g. Ecommerce)" data-component-value="''" data-maxlength="30">@(Group)</div>
			</div>
			<div class="col-md-6">
				<div class="m" data-component="dropdown" data-component-path="formsave.group" data-empty="" data-source="dashboard.categories">@(Group)</div>
			</div>
		</div>

	</div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="formsave">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	if (!window.formsave)
		window.formsave = {};

	ON('#formsave', function(component) {
		component.submit = function(hide) {
			SETTER('loading', 'show');
			formsave.data = btoa(encodeURIComponent(JSON.stringify(WIDGETS_SAVE())));
			AJAX('POST /api/dashboard/', formsave, function(response) {

				if (response instanceof Array) {
					SET('formsave.response', response);
					return;
				}

				hide();
				SETTER('loading', 'hide', 1000);
				FIND('dashboard').mode();
				EXEC('dashboard_refresh')('dashboard_editbutton', 0);
				response.value && jR.redirect('/{0}/'.format(response.value));
			});
		};
	});

</script>