<div data-jc="form" data-title="@(Sources)" data-jc-path="common.form" data-if="value === 'sources'" data-width="800px" data-jc-id="formsources" data-autocenter="false">
	<div class="filter padding npt">
		<div class="row">
			<div class="col-sm-8">
				<div data-jc="textbox" data-jc-type="search" data-placeholder="@(Search sources)" data-jc-path="formsources.search" data-maxlength="30"></div>
			</div>
			<div class="col-sm-4">
				<a href="javascript:void(0)" class="button button-small exec" data-exec="formsources_new"><i class="fa fa-plus-circle"></i>@(Create new)</a>
			</div>
		</div>
	</div>
	<div data-jc="search" data-jc-path="formsources.search" data-selector=".search">
		<div data-jc="repeater-group" data-jc-path="dashboard.datasources" data-group="group" class="browsecontainer">
			<script type="text/html">
				<div class="browse-item search" data-search="{{ name }}">
					<a href="javascript:void(0)" data-id="{{ id }}" class="browse-item-link source-link">{{ name }}</a>
					<a href="javascript:void(0)" data-id="{{ id }}" class="browse-item-remove source-remove"><i class="fa fa-times-circle"></i></a>
				</div>
			</script>
			<script type="text/html">
				<div class="browse-category search" data-search="_"><i class="fa fa-folder-o mr5"></i>{{ group }}</div>
			</script>
		</div>
	</div>
	<div data-jc="empty" data-jc-path="dashboard.datasources">@(No data)</div>
	<br />
	<div class="ui-form-buttons center">
		<button name="cancel" style="width:150px">@(Cancel)</button>
	</div>
</div>

<script>

	var formsources = {};
	formsources.items = [];

	function formsources_new() {
		IMPORTSET('formdatasource', 'common.subform', 'datasource');
		SET('formdatasource', { headers: {}, cookies: {}, method: 'GET', interval: 60, datasourceid: '' }, true);
	}

	$(document).on('click', '.source-link', function(e) {

		var el = $(this);
		var id = el.attr('data-id');

		e.stopPropagation();
		e.preventDefault();

		IMPORTSET('formdatasource', 'common.subform', 'datasource');
		SET('formdatasource', CLONE(dashboard.datasources.findItem('id', id)));
	});

	$(document).on('click', '.source-remove', function() {
		var el = $(this);
		var id = el.attr('data-id');

		FIND('confirm').confirm('@(Are you sure you want to remove this data source?)', ['@(Yes)', '@(Cancel)'], function(index) {
			if (index)
				return;
			SETTER('loading', 'show');
			AJAX('DELETE /api/datasources/{0}/'.format(id), function() {
				SETTER('loading', 'hide', 1000);
				SET('formsources.search', '');
				EXEC('dashboard_datasource');
			});
		});
	});

	EXEC('dashboard_datasource');

</script>