/*auto*/

html,body { height: 100%; margin: 0; padding: 0; }
body { background-color: #F0F0F0; font-smoothing: antialiased; color: #505050; }
/*.ui-dark { color: #A0A0A0; background-color: #202020; }*/

.noscroll { overflow: hidden; }

#success { height: 40px; top: 50px; left: 240px; width: 40px; background-color: #8CC152; font-size: 25px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: center; padding: 8px 0 0 1px; display: none; transition: all 0.4s; z-index: 1000; border-radius: 4px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); }
.success-animation { transform: scale(2) translate(0, 50px); }
.success { background-color: #8CC152; text-align: center; padding: 8px 10px; font-size: 12px; color: white; }
.success .fa { margin-right: 5px; }

figure > header { height: 34px; border-bottom: 1px solid #E0E0E0; font-size: 12px; color: black; }
figure > header label { float: left; margin: 8px 0 0 10px; font-weight: bold; max-width: 50%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
figure > header button { float: right; background-color: transparent; border-radius: 0; border: 0; border-left: 1px solid #E0E0E0; height: 20px; min-width: 28px; margin: 7px 0 0 0; color: #A0A0A0; outline: 0; padding: 0; }
figure > header button:hover { color: black; }
figure > header button.selected { color: black; }

.ui-dark figure > header { border-bottom-color: #404040; color: white; }
.ui-dark figure > header button { color: #555555; border-left-color: #404040; }
.ui-dark figure > header button.selected { color: white; }
.ui-dark figure > header button:hover { color: white; }

.draft .mainmenu { color: #E33733; }

.padding { padding: 25px; }
.m { margin-bottom: 20px; }
.cl { clear: both; }
.center { text-align: center; }

.npb { padding-bottom: 0; }
.npt { padding-top: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }
.mr5 { margin-right: 5px; }
.b { font-weight: bold; }
.black { color: black; }
.ui-dark .black { color: #c4bebe; }

.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }

.toolbar { left: 0; top: 0; width: 100%; height: 50px; background-color: #E7E9ED; box-shadow: 0 2px 10px rgba(0,0,0,0.05); z-index: 5; position: fixed; border-bottom: 1px solid #D9D9D9; }
.ui-dark .toolbar { background-color: #101010; box-shadow: inset 0 2px 10px rgba(255,255,255,0.04), 0 2px 10px rgba(0,0,0,0.2); }
.toolbar .tabs { margin: 0; }
.toolbar .tabs a { position: relative; display: inline-block; padding: 14px 10px 0; height: 49px; color: gray; border-right: 1px solid #D9D9D9; font-size: 14px; outline: 0; min-width: 90px; text-align: center; max-width: 120px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.toolbar .tabs div { position: relative; display: inline-block; }
.toolbar .tabs .last { display: none; }
.draft .toolbar .tabs .last { display: inline-block; min-width: 40px; border-right: 0; }
.toolbar .tabs a:hover { text-decoration: none; color: black; }
.toolbar .tabs a.selected { background-color: white; color: black; }

.ui-dark .toolbar { border-bottom-color: #252525; }
.ui-dark .toolbar .tabs a { border-color: #202020; }
.ui-dark .toolbar .tabs a:hover { color: white; }
.ui-dark .toolbar .tabs a.selected { background-color: #323232; color: white; }

.toolbar .tabs a.mainmenu { min-width: 49px; padding-top: 12px; font-size: 19px; color: black; opacity: 0.8; transition: all 0.3s; }
.toolbar .tabs a.mainmenu:hover { color: black; opacity: 1; }
.toolbar .tabs a.mainmenu .fa-spin { color: black; opacity: 1; }

.ui-dark .toolbar .tabs a.mainmenu { color: #E0E0E0; }
.ui-dark .toolbar .tabs a.mainmenu:hover { color: white; }
.ui-dark .toolbar .tabs a.mainmenu .fa-spin { color: white; }

.mainmenu.highlight { color: white !important; background-color: silver; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); }
.mainmenu.blink { animation: blinker 0.5s infinite alternate; background-color: #8CC152 !important; }
@keyframes blinker {
	0% { background-color: #9BD15F; }
	100% { background-color: #78AD3E;  }
}

.link .fa { margin-right: 5px; }
.red { color: #E33733; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.help { margin-top: 5px; font-size: 11px; color: #A0A0A0; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 5px; border-radius: 4px; }
.help .fa { margin-right: 5px; }
.fs12 { font-size: 12px; line-height: 15px; }

.designer-container { position: absolute; width: 100%; height: 100%; left: 0; top: 0px; right: 0; bottom: 0; overflow: hidden; padding-top: 50px; }
.designer-scroll { width: 100%; height: 100%; overflow-y: scroll; overflow-scrolling: touch; }
.designer { background-color: #F0F0F0; position: relative; margin: 30px 0; }
.ui-dark .cell.selected > div { background-color: black; }
.ui-dark .designer { background-color: #202020; }

.grid { line-height: 0; padding-bottom: 50px; margin-bottom: 50px; display: table; width: 100%; }
.cell { float: left; display: none; width: 47.5px; height: 47.5px; background-color: #E0E0E0; border: 1px solid #D0D0D0; user-select: none; line-height: 0; }
.container-fluid .cell { width: 4.1667%; }
.grid.moving .cell:hover {background-color: lightgrey !important;}
.grid.moving .widget {pointer-events: none;}
.grid.moving .drag {pointer-events: none;}
.ui-dark .cell { background-color: #171717; border: 1px solid #202020; }
.draft .cell { display: block; }

.grid .cell.selected { background-color: white; }
.ui-dark .grid .cell.selected { background-color: #303030; }
.ui-dark .ui-form-container { color: #505050; }

.widgets { position: relative; }
.widget { position: absolute; z-index: 2; padding: 10px; }
.widget_offset { position: absolute; z-index: 1; height: 1px; width: 1px; }
.widget-toolbar { position: absolute; left: 0; top: 0; height: 100%; width: 100%; text-align: center; margin: 0; display: none; z-index: 10; padding-top: 15px; }
.widget-toolbar button { background-color: white; box-shadow: 0 0 5px rgba(0,0,0,0.1); border: 1px solid black; font-size: 16px; width: 30px; height: 30px; border-radius: 3px; cursor: pointer; outline: 0; text-align: center; line-height: 16px; padding: 0; position: absolute; left: 20px; top: 20px; }
.widget-toolbar button .fa { margin: 0; }
.ui-dark .widget-toolbar button { background-color: #505050; color: white; }
.draft .widget-toolbar { display: block; }
.widget-body { height: 100%; background-color: white; box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.02); overflow: hidden; }
.ui-dark .widget-body { background-color: #303030; box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.05); }
.widget-body > figure { height: 100%; }
.widget-body.transparent { background-color: transparent !important; box-shadow: none !important; }
.draft .widget-body { background-color: white; box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.05); }
.draft.ui-dark .widget-body { background-color: #303030; box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1); }

.help { margin-top: 5px; font-size: 11px; color: #A0A0A0; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 5px; border-radius: 4px; }
.help .fa { margin-right: 5px; }

.db-container { margin: 0 -10px; }
.db-norefresh .db-refresh { display: none; }
.db-item { position: relative; display: inline-block; background-color: white; border: 2px solid #E0E0E0; padding: 4px 10px; width: 205px; margin: 10px 10px 5px; border-radius: 3px; }
.db-item > span { float: right; width: 20px; text-align: right; margin: 0; cursor: pointer; color: #E33733; }
.db-item > span .fa-refresh { color: #909090; }
.db-item > span:hover { opacity: 0.8; }
.db-item > div { margin-right: 20px; width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.db-item .canupdate { display: none; color: red; }
.db-item-update { border-color: #70B348; border-style: dashed; }
.db-item-update .canupdate { display: inline-block; }
.db-item .name { font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #505050; }
.db-item .author { font-size: 11px; color: gray; }
.db-item .version { font-size: 11px; }
.db-item .version b { font-size: 10px; text-transform: uppercase; margin-left: 5px; }
.db-category { font-size: 16px; color: black; margin: 15px 10px 5px; font-weight: bold; border-bottom: 1px solid black; padding: 5px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.db-category .fa { margin-right: 8px; }
.db-item .datetime { font-size: 11px; color: #A0A0A0; }
.db-item .datetime .fa { margin-right: 5px; }
.ui-dark .db-item { background-color: #333333; border: 1px solid #000000; }
.ui-dark .db-item .name { color: #c7c7c7; }
.ui-dark .db-category { border-bottom: 1px solid #444444; color: #c7c7c7; }

.db-widget { position: relative; display: inline-block; background-color: white; border: 1px solid #E0E0E0; padding: 8px 10px 8px 0; width: 204px; margin: 10px 10px 5px; border-radius: 3px; cursor: pointer; }
.db-widget > span { float: left; width: 40px; text-align: center; margin: 0; cursor: pointer; color: #A0A0A0; border-right: 1px solid #E0E0E0; font-size: 20px; }
.db-widget > div { float: left; margin-left: 10px; width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 14px; }
.db-widget .name { font-size: 14px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #505050; }
.db-widget .author { font-size: 11px; color: gray; }
.db-widget:hover { background-color: #F0F0F0; }
.ui-dark .db-widget { background-color: #333333; border: 1px solid #000000; }
.ui-dark .db-widget:hover { background-color: #191919; }
.ui-dark .db-widget .name { color: #c7c7c7; }

.bg-fade { background: linear-gradient(#F8F8F8, white); border-bottom: 1px solid #F0F0F0; margin-bottom: 5px; padding-bottom: 7px !important; }
.bg-smoke { background-color: #F8F8F8; }
.bg-yellow { background-color: #FFFFD5; }

.tag { position: relative; display: inline-block; padding: 5px 10px; margin: 0 8px 8px 0; background-color: #3BAFDA; color: white; text-decoration: none; border-radius: 3px; font-size: 12px; cursor: pointer; line-height: 14px; }
.tag:hover { opacity: 0.8; text-decoration: none; }
.tag2 { background-color: #165b7b; }
.block { display: block; }

.resize { position:absolute; color:white; right:13px; bottom:13px; cursor:se-resize; width:20px; height: 20px; border-style: solid; border-width: 0 3px 3px 0px; border-color: #a9a9a9; }
.move { position: absolute; top: 0; left: 0; right: 0; bottom: 0; cursor: move; }

.devicetype { display: none; }
.draft .devicetype { display: block; width: 200px; margin: 20px auto 10px; text-align: center; background-color: #fff; border-radius: 2px; box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.1); }
.ui-dark.draft .devicetype { background-color: #0F0F0F; }

@media(max-width: 1199px) {
	.cell { width: 78.3px; height: 78.3px; }
}

@media(max-width: 991px) {
	.cell { width: 59.9px; height: 59.9px; }
}

@media(max-width: 768px) {
	.widget { padding: 8px !important; }
	.cell { width: 8.3%; height: auto; }
	.toolbar .tabs a { padding-left: 5px; padding-right: 5px; max-width: 100px; min-width: 60px; font-size: 11px; }
	.designer > .container { padding-left: 4px; padding-right: 4px; }
	.designer { margin: 12px 0; }
}
