.disk .info { height: 20%; overflow: hidden; line-height: 94%; font-size: 80%; margin-top: 10%; }
.disk .info .fa { margin-right: 5px; }
.disk .info > div { float: left; width: 33.333%; text-align: center; border-left: 1px solid #E0E0E0; padding: 4% 0 3%; }
.disk .info > div:first-child { border-left: 0; }
.disk .info b { font-size: 60%; display: block; text-transform: uppercase; font-weight: bold; color: black; padding-bottom: 3%; }
.disk .progress { height: 10%; width: 100%; background: linear-gradient(90deg, #8CC152, #A0D468); margin: 10% auto 0; }
.disk .progress > div { height: 100%; background-color: #D63B32; width: 0; text-align: right; padding: 2% 2% 0 0; color: white; font-size: 65%; }
.disk .chart { height: 35%; }
.disk .chart rect { fill: #D0D0D0; }
