.header { height: 12%; font-size: 60%; padding: 3% 3% 0; text-align: center; text-transform: uppercase; font-weight: bold; color: silver; border-bottom: 1px solid #E0E0E0; }
.header .fa { margin-right: 2%; }
.g2x3 .header { padding-top: 2%; }

.theme-dark .header { color: #505050; border-color: #303030; }