.log {
	ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
	li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11px; padding: 3px 5px 0; height: 20px; }
	li:nth-child(even) { background-color: #F0F0F0; }
	li:first-child { border-top: 0; }
}

.theme-dark {
	.log { background-color: #101010; }
	.log li:nth-child(even) { background-color: #303030; }
}