.memory { background-color: white; }
.memory {
	.info { height: 20%; background-color: #F8F8F8; overflow: hidden; line-height: 94%; font-size: 80%; }
	.info .fa { margin-right: 5px; }
	.info > div { float: left; width: 33.333%; text-align: center; border-left: 1px solid #E0E0E0; padding: 4% 0 4%; }
	.info > div:first-child { border-left: 0; }
	.info b { font-size: 60%; display: block; text-transform: uppercase; font-weight: bold; color: black; padding-bottom: 3%; }
	.chart-history { height: 68%; text-align: center; padding: 5% 0 0; width: 100%; }
	.chart-history rect { fill: #D0D0D0; }
	.chart { height: 68%; text-align: center; padding: 5% 0 0; position: absolute; left: 0; width: 100%; }
	.trend { position: absolute; width: 100%; font-size: 200%; text-align: center; top: 37%; }
	.trend .fa-long-arrow-up { color: #D63B32; }
	.trend .fa-long-arrow-down { color: #68B25B; }
}

.rows5 .memory .info > div { padding-top: 2%; }

.theme-dark  {
	.memory { background-color: #101010; }
	.memory .info { background-color: #202020; }
	.memory .info > div { border-color: #303030; }
	.memory .info b { color: white; }
	.chart-history rect { fill: #303030; }
}

.noxs.g1x1 .memory .info { display: none; }
.noxs.g1x1 .memory .chart { height: 100%; }
.noxs.g1x1 .memory .header { display: none; }
.noxs.g1x1 .memory .trend { top: 40%; font-size: 400%; }
.xs .memory .trend { top: 36%; }