.network .open-container { display: table; height: 68%; width: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 12%; }
.network .open { font-size: 250%; text-align: center; vertical-align: middle; display: table-cell; }
.network .open .fa { margin-right: 3%; font-size: 70%; vertical-align: middle; animation: 1s network-open-blink infinite; }
.network .open span { vertical-align: middle; font-weight: bold; color: black; }
.network .info { height: 20%; position: relative; border-top: 1px solid #E0E0E0; line-height: 80%; }
.network .info b { font-size: 60%; display: block; padding: 5% 0 3%; }
.network .info b .fa { margin-right: 2%; }
.network .info > div { position: relative; display: inline-block; width: 50%; height: 100%; text-align: center; }
.network .info .download { border-left: 1px solid #E0E0E0; }
.network .info span { font-weight: bold; color: black; }
.network .chart { height: 68%; padding: 5% 0; }
.network .chart rect { fill: #D0D0D0; }

@keyframes network-open-blink {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}