<div data---="modal__common.form__title:@(Dashboard components);if:database;width:932;submit:database/submit" class="hidden">

	<div>
		<span class="link cancel"><i class="fa fa-times"></i></span>
		<label></label>
	</div>

	<div data---="dragdropfiles__null__exec:database/dragdrop;click:false;class:+ui-form-dragdrop">
		<div class="padding npb bg-shaded">
			<div class="b m black"><i class="fa fa-database mr5"></i>@(Installing new components)</div>
			<div class="row">
				<div class="col-md-6 m">
					<div data---="input__formdatabase.url__maxlength:200;placeholder:@(E.g. https\://domain.com/component.html and press enter);required:true;type:url" class="m">@(URL address)</div>
				</div>
				<div class="col-md-6 m">
					<div data---="filereader__formdatabase.file__placeholder:@(Browse device);accept:text/html;required:true" data-jc-id="formdatabasefile" class="m">@(Upload .html component)</div>
				</div>
			</div>
			<div data-bind="common.templates__show:value && value.length > 0" class="hidden">
				<div class="b black" style="margin-bottom:10px"><i class="fa fa-table mr5"></i>@(Predefined set of components:)</div>
				<div class="row">
					<div data---="repeater__common.templates">
					<script type="text/html">
						<div class="col-md-3 col-sm-4">
							<span class="exec tag block" data-exec="database/install" data-value="{{ name }}">@(Install:) <b>{{ name }}</b> ({{ items.length }}x)</span>
						</div>
					</script>
					</div>
				</div>
				<br />
			</div>
		</div>
		<div class="success hidden" data-bind="formdatabase.success__visible:value"><i class="fa fa-check-circle"></i>@(<b>The component</b> has been sent successfully.)</div>
		<div class="padding npb">
			<!-- <div data---="textbox__formdatabase.search__placeholder:@(Search components ...);type:search" class="mt10"></div> -->
			<div data---="input__formdatabase.search__type:search;innerlabel:1" class="mt10">@(Search components)</div>
			<br />
			<div class="clearfix"></div>
			<div data---="search__formdatabase.search__selector:.jsearch">
				<div class="db-container">
					<div data---="repeatergroup__common.database__group:group">
						<script type="text/html">
							<div class="jsearch db-item" data-search="{{ name }}" data-id="{{ name }}">
								<span class="exec" data-exec="database/remove"><i class="fa fa-times-circle"></i></span>
								<div>
									<div class="name" title="{{ name }}"><i class="fa fa-circle mr5" style="color:{{ color }}"></i>{{ name }}</div>
									<div class="author">{{ author }}</div>
								</div>
							</div>
						</script>
						<script type="text/html">
							<div class="jsearch db-category" data-search=""><i class="fa fa-folder-o"></i>{{ group }}</div>
							{{ body | raw }}
						</script>
					</div>
				</div>
			</div>
			<br />
		</div>
	</div>

	<div class="center">
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>

	SETTER('websocket', 'send', { 'TYPE': 'templates' });

	var formdatabase = { reload: false };

	PLUGIN('database', function(exports) {

		exports.remove = function(el) {
			var id = el.closest('.db-item').attrd('id');
			SETTER('confirm', 'confirm', '@(Are you sure you want to remove this component?)', ['"trash-o" @(Yes)', '@(Cancel)'], function(index) {
				if (!index) {
					common.operations.remove(id, true);
					formdatabase.reload = true;
				}
			});
		};

		exports.install = function(el) {
			var name = el.attr('data-value');
			var items = [];

			if (name  === 'all')
				common.templates.forEach(function(t){
					items = items.concat(t.items);
				});
			else
				items = common.templates.findItem('name', name).items;

			items.quicksort();
			SET('formcomponents.database', items);
			SET('formcomponents.components', items.slice(0), true);
			SET('common.form2', 'components');
		};

		exports.submit = function() {
			setTimeout(function() {
				EMIT('designer.refresh');
				formdatabase.reload && SETTER('confirm', 'confirm', '@(Dashboard needs to be reloaded. Can I reload it?)', ['"refresh" @(Yes)', '@(Cancel)'], function(index) {
					!index && location.reload(true);
				});
				formdatabase.reload = false;
			}, 1000);
		};

		exports.dragdrop = function(files) {
			FIND('filereader[formdatabase.file]').process(files);
		};
	});


	WATCH('formdatabase.url', function(path, value) {
		if (value && value.isURL()) {
			SETTER('websocket', 'send', { TYPE: 'install', body: value });
			SET('formdatabase.url', '', true);
			SET('formdatabase.success', true);
			SET('formdatabase.success', false, 3500);
		}
	});

	WATCH('formdatabase.file', function(path, value) {
		if (value && value.body) {

			if (value.size / 1024 > 50) {
				SETTER('snackbar', 'warning', '@(The file is too big large. The maximum limit of file size is <b>50 kB</b>.)');
				return;
			}

			if (value.body.indexOf('exports.name') === -1 || value.body.indexOf('exports.install') === -1) {
				SETTER('snackbar', 'warning', '@(This file is not Total.js Dashboard component.)');
				return;
			}

			formdatabase.reload = true;
			SETTER('websocket', 'send', { TYPE: 'install', filename: value.filename, body: value.body });
			SET('formdatabase.file', null, true);
			SET('formdatabase.success', true);
			SET('formdatabase.success', false, 3500);
		}
	});

</script>