
.superadmin-cpu { background-color: white; color: gray; }
.superadmin-cpu .servername { font-size: 11px; position: absolute; left: 10px; top: 8px; }
.superadmin-cpu .svg svg { left: 0; top: 30px; }
.superadmin-cpu .label { margin-top: 220px; font-size: 25px; font-weight: bold; color: black; }
.superadmin-cpu .percentage { font-size: 18px; }

.superadmin-cpu-sm1x1 .label { display: none; }
.superadmin-cpu-sm1x1 .percentage { display: none; }
.superadmin-cpu-sm1x1 .svg svg { top: 34px; }

.superadmin-cpu-sm2x2 .label { margin-top: 125px; font-size: 16px; line-height: 20px; }
.superadmin-cpu-sm2x2 .percentage { font-size: 12px; }
.superadmin-cpu-sm2x2 .svg svg { top: 30px; }

.superadmin-cpu-sm3x3 .label { margin-top: 190px; font-size: 22px; line-height: 25px; }
.superadmin-cpu-sm3x3 .percentage { font-size: 18px; }
.superadmin-cpu-sm3x3 .svg svg { top: 40px; }

.superadmin-cpu-md1x1 .label { margin-top: 72px; font-size: 12px; line-height: 16px; visibility: hidden; }
.superadmin-cpu-md1x1 .percentage { font-size: 11px; }
.superadmin-cpu-md1x1 .svg svg { top: 25px; }

.superadmin-cpu-md2x2 .label { margin-top: 160px; font-size: 18px; line-height: 20px; }
.superadmin-cpu-md2x2 .percentage { font-size: 14px; }
.superadmin-cpu-md2x2 .svg svg { top: 30px; }

.superadmin-cpu-md3x3 .label { margin-top: 240px; font-size: 25px; line-height: 30px; }
.superadmin-cpu-md3x3 .percentage { font-size: 18px; }
.superadmin-cpu-md3x3 .svg svg { top: 50px; }

.superadmin-cpu-lg1x1 .label { margin-top: 112px; font-size: 14px; line-height: 16px; }
.superadmin-cpu-lg1x1 .percentage { font-size: 11px; }
.superadmin-cpu-lg1x1 .svg svg { top: 27px; }

.superadmin-cpu-lg3x3 .label { margin-top: 300px; font-size: 50px; line-height: 50px; }
.superadmin-cpu-lg3x3 .percentage { font-size: 40px; }

.superadmin-memory { color: gray; background-color: #F8F8F8; }
.superadmin-memory .progress { margin: 40px 20px 10px; height: 60px; }
.superadmin-memory .progress div { overflow: hidden; text-align: center; font-size: 12px; color: white; float: left; white-space: nowrap; text-overflow: ellipsis; padding: 15px 0 0 0; height: 60px; line-height: 14px; }
.superadmin-memory .progress div:first-child { border-radius: 4px 0 0 4px; }
.superadmin-memory .progress div:last-child { border-radius: 0 4px 4px 0; }
.superadmin-memory .progress div b { display: block; }
.superadmin-memory .total { font-size: 11px; padding: 3px 0; }
.superadmin-memory .servername { font-size: 11px; position: absolute; left: 10px; top: 8px; }
.superadmin-memory-md .progress { margin: 30px 20px 10px; height: 35px; }
.superadmin-memory-md .progress div { padding: 3px 0 0 0; height: 35px; font-size: 11px; }
.superadmin-memory-sm .progress { margin: 28px 20px 3px; height: 32px; }
.superadmin-memory-sm .progress div { padding: 2px 0 0 0; height: 32px; font-size: 11px; }
.superadmin-memory-sm .total { padding: 2px 0 0 0; }

.superadmin-hdd { background-color: #E0E0E0; color: gray; }
.superadmin-hdd .progress { margin: 40px 20px 10px; height: 100px; }
.superadmin-hdd .progress div { overflow: hidden; text-align: center; font-size: 12px; color: white; float: left; white-space: nowrap; text-overflow: ellipsis; padding: 32px 0 0 0; height: 90px; line-height: 14px; }
.superadmin-hdd .progress div:first-child { border-radius: 4px 0 0 4px; }
.superadmin-hdd .progress div:last-child { border-radius: 0 4px 4px 0; color: gray; }
.superadmin-hdd .progress div b { display: block; }
.superadmin-hdd .servername { font-size: 11px; position: absolute; left: 10px; top: 8px; }
.superadmin-hdd-md .progress { margin: 30px 20px 10px; height: 65px; }
.superadmin-hdd-md .progress div { padding: 16px 0 0 0; height: 60px; font-size: 11px; }
.superadmin-hdd-sm .progress { margin: 30px 20px 3px; height: 55px; }
.superadmin-hdd-sm .progress div { padding: 8px 0 0 0; height: 45px; font-size: 11px; }
